
  <div class="center">
    <i class="bi bi-chat-square-quote-fill" id="quotes"></i>
  </div>

  <p style="color: green"><%= notice %></p>
  

  <div class="container pt-5">
    <div class="row align-items-start">
      <h1 class="maintext col">Quotes</h1>
      
      <%= link_to new_quote_path, class: "btn btn-outline-primary col m-3" do %>
        <i class="bi bi-plus">Sort by Year</i>
      <% end %>

      <%= link_to new_quote_path, class: "btn btn-outline-primary col m-3" do %>
        <i class="bi bi-plus">Sort by Said by</i>
      <% end %>

      <%= link_to new_quote_path, class: "btn btn-outline-primary col m-3" do %>
        <i class="bi bi-plus">Sort by Saying</i>
      <% end %>

      <%= link_to new_quote_path, class: "btn btn-primary col m-3" do %>
        <i class="bi bi-plus">New Quote</i>
      <% end %>
      
        <hr>
    </div>
  <div>



  <div class="container">
  <% @quotes.each do |quote| %>
    <%= render quote %>
    <tr>
    <td> <%= link_to "Edit", edit_quote_path(quote), class: "btn btn-primary bi bi-plus-circle"%> </td>
    <td> <%= link_to "Vote", root_path, class: "btn btn-secondary bi bi-hand-thumbs-up"%>  </td>
    <td><%= button_to "Delete", quote, method: :delete, class: "btn btn-danger bi bi-trash" %> </td>
    </tr>
  <% end %>

  

<br><br>



  <footer>
    <div class="footer">
      <p>@ All rights reserved - Erica Teaford - 2024</p>
    </div>  
  </footer>

</div>
