<div id="<%= dom_id choice %>">
  <p>
    <strong>Question:</strong>
    <%= choice.question_id %>
  </p>

  <p>
    <strong>Input:</strong>
    <%= choice.input %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= choice.title %>
  </p>

  <p>
    <strong>Radio:</strong>
    <%= choice.radio %>
  </p>

  <p>
    <strong>Multiple:</strong>
    <%= choice.multiple %>
  </p>

</div>
